Package: tuntun
Version: 0.1
Architecture: i386
Maintainer: Andrea Del Signore <sejerpz@tin.it>
Installed-Size: 248
Depends: libart-2.0-2 (>= 2.3.18), libatk1.0-0 (>= 1.20.0), libbonobo2-0 (>= 2.15.0), libbonoboui2-0 (>= 2.15.1), libc6 (>= 2.7-1), libcairo2 (>= 1.4.0), libdbus-1-3 (>= 1.1.1), libdbus-glib-1-2 (>= 0.74), libfontconfig1 (>= 2.4.0), libfreetype6 (>= 2.3.5), libgconf2-4 (>= 2.13.5), libglade2-0 (>= 1:2.6.1), libglib2.0-0 (>= 2.16.0), libgnome-keyring0 (>= 2.22.0), libgnome2-0 (>= 2.17.3), libgnomecanvas2-0 (>= 2.11.1), libgnomeui-0 (>= 2.17.1), libgnomevfs2-0 (>= 1:2.17.90), libgtk2.0-0 (>= 2.12.0), libice6 (>= 1:1.0.0), libnotify1 (>= 0.4.4), libnotify1-gtk2.10, liborbit2 (>= 1:2.14.10), libpanel-applet2-0 (>= 2.19.3), libpango1.0-0 (>= 1.20.0), libpng12-0 (>= 1.2.13-4), libpopt0 (>= 1.10), libsm6, libx11-6, libxcursor1 (>> 1.1.2), libxext6, libxfixes3 (>= 1:4.0.1), libxi6, libxinerama1, libxml2, libxrandr2 (>= 2:1.2.0), libxrender1, zlib1g
Section: unknown
Priority: extra
Description: Tuntun an GUI for OpenVPN
 Tuntun is a Gnome applet to control a list of
 OpenVPN connection through the OpenVPN daemon
 management interface.
 .
 Main fautures are:
   * Light
   * Well integrated within the Gnome environment
     (Gnome Keyring and notifications)
   * Support for Auth and Private-Key authetication
     methods
 .
 Homepage: http://code.google.com/p/tuntun
